<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>详情页</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <%- include('bar', {username}) %>

<div class="detail">
    <div class="title"><%= article.title %></div>
    <div class='desc'>
      <span>作者：<%= article.author %></span>
      <span>发布时间：<%= article.time2 %></span>
    </div>
    <div class="content"><%- article.content %></div>
</div>

</body>
</html>